[Unit]
Description=WineOps Temperature Reporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=__WINEOPS_USER__
WorkingDirectory=__WINEOPS_APP_DIR__
ExecStart="__WINEOPS_PYTHON__" -u "__WINEOPS_REPORTER__"

Restart=always
RestartSec=30

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
