[Unit]
Description=WineOps Temperature Reporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User=matthew
WorkingDirectory=/home/matthew/wineops/device/raspberry-pi/temp_sensor

ExecStart=/home/matthew/wineops/device/raspberry-pi/temp_sensor/venv/bin/python -u /home/matthew/wineops/device/raspberry-pi/temp_sensor/supabase_reporter.py

Restart=always
RestartSec=30

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
